services:
  app:
    build: .
    ports:
      - '3000:3000'
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - PORT=${PORT:-3000}
      - HOST=${HOST:-0.0.0.0}
